{% extends 'base.html' %}
{% block content %}
<h1> Hello world </h1>
<a href="{% url 'about' %}"> About Page </a>
<table>
        <tr>
                <th> Name </th>
                <th> Email   </th>
                <th> Contact   </th>

                <th> Service </th>
                <th> Cost Estimate </th>
                <th> Region </th>
                <th> Action   </th>

        </tr>
        <form>
                <tr> {% for field in form %}
                        <td> {{field}} </td>
                        {% endfor %}
                <td> <button name="save"> Save</button> </td>
                </tr>

        </form>

        {% for service_provider in service_providers %}
        <tr>
                <td>{{service_provider.name}}</td>
                <td></td> <td></td>
                <td> {{service_provider.get_service_type_display}}</td>
                <td></td>
                <td> {{service_provider.get_region_display}} </td>
                <td> <button name='edit'> Edit </button>   <button name='delete'> Delete </button></td>
        </tr>
        {% endfor %}


</table>

{% endblock %}