{% extends 'base.html' %}
{% block content %}
<h1> Hello world </h1>
<a href="{% url 'about' %}"> About Page </a>
<form method="post" action="{% url 'index' %}">
        {% csrf_token %}
        <table class="table table-border table-light ">               

                <tr>
                        <th> Name </th>
                        <th> Email </th>
                        <th> Contact </th>

                        <th> Service </th>
                        <th> Cost Estimate </th>
                        <th> Region </th>
                        <th> Action </th>

                </tr>
                {% if not form.instance.id %}
                {% include 'save.html' %}
                {% endif %}

                {% for service_provider in service_providers %}
                <tr>
                        {% if   form.instance.id == service_provider.id %}
                        {% include 'save.html' %}
                        {% else %}
                        <td>{{service_provider.name}}</td>
                        <td></td>
                        <td></td>
                        <td> {{service_provider.get_service_type_display}}</td>
                        <td></td>
                        <td> {{service_provider.get_region_display}} </td>
                        <td> <button class='btn btn-success' formnovalidate  name='edit'  value="{{service_provider.id}}"> Edit </button> <button class='btn btn-danger ' formnovalidate  name='delete'value="{{service_provider.id}}"> Delete </button></td>
               {% endif %}
                </tr>
                {% endfor %}


        </table>
</form>

{% endblock %}